  <h3 style="background-color:green">REGISTER</h3>

<h2 class="page-header">Register</h2>
  <!--below is the code that displays errors on the re-rendered page, if there are any-->
  {{#if errors}} <!--so if there are errors, then we're going to loop through them using #each-->
    {{#each errors}}
      <div class="alert alert-danger">{{msg}}</div> <!--this code is from bootstrap,if there are errors, then they error messages from Validation section of users.js will be displayed-->
    {{/each}}
  {{/if}}
  <!-- above is the code that displays erros on the re-rendered page, if there are any-->
<form method="post" action="/users/register">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control"  placeholder="Username" name="username">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control"  placeholder="Email" name="email">
  </div>
   <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control"  placeholder="Password" name="password">
  </div>
   <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control"  placeholder="Password" name="password2">
  </div>
  <button type="submit" class="btn btn-default">Submit</button> 
</form>
<!-- we can test by console.logging something (either name, username, etc.) in the routes folder inside the users.js file where the register post route is-->
<!--when we submit this, it's going to make a post request to '/users/register'-->